<h1 class="title">{{site.sign_up_title}}</h1>
<p class="description" data-aos="fade-down">{{site.sign_up_description}}</p>
<div class="contact-icons">
  {% if site.newsletter != null %}
  <a class="social-link" aria-label="My Newsletter" href="http://eepurl.com/{{site.newsletter}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#envelope" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/96e741f98b40fad49415b9791/b1e61067070aeae256d0deda5.js");</script>
