<h1 class="title">{{site.sign_up_title}}</h1>
<h2 class="title">{{site.sign_up_description}}</h2>
<p class="subtitle">
<a class="highlight-link" href="{{site.newsletter}}" target="_blank" rel="noreferrer"> Nossa Newsletter</a>
</p>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/96e741f98b40fad49415b9791/b1e61067070aeae256d0deda5.js");</script>
